<div class="container bg-light py-3 mt-2 " style="
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  ">
    <div class="bg-light">
        <div class="bg-light">
            <h2 class="text-capitalize mb-2">Welcome!{{name}}</h2>
            <span class="question-attempted">1 out of 60</span>
        </div>
        <div class="progress-status mt-lg-">
            <h4>PROGRESS STATUS:</h4>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 10%">
                    10%
                </div>
            </div>
        </div>
        <div class="border border-primary  mt-3 px-3 py-2">
            Note: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero asperiores minus magni laudantium quod eaque excepturi, repellat culpa dolor in. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto provident unde velit labore ut, doloribus
            cumque excepturi aut iste quasi eius. Qui voluptate blanditiis sequi perspiciatis error ipsam beatae quia corporis! Obcaecati incidunt officia beatae tenetur aliquid? Optio, officia dolor!
        </div>
    </div>
    <div class="card container-xl mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sno:</th>
                    <th scope="col">Questions:</th>
                    <th scope="col">Never</th>
                    <th scope="col">A few times</th>
                    <th scope="col">Sometimes</th>
                    <th scope="col">Often</th>
                    <th scope="col">Constantly</th>


                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">1</th>
                    <td>I was very anxious, worried or scared about a lot of things in my life.</td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input " type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input p-2 " type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label " for="inlineRadio1"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>I felt that my worry was out of my control. </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-2" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-2" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-2" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input p-2 " type="radio" name="inlineRadioOptions-2" id="inlineRadio2" value="option2">
                            <label class="form-check-label " for="inlineRadio2"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-2" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="1">I felt restless, agitated, frantic, or tense. </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-3" id="inlineRadio3" value="option3">
                            <label class="form-check-label" for="inlineRadio3"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-3" id="inlineRadio3" value="option3">
                            <label class="form-check-label" for="inlineRadio3"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-3" id="inlineRadio3" value="option3">
                            <label class="form-check-label" for="inlineRadio3"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input p-2 " type="radio" name="inlineRadioOptions-3" id="inlineRadio3" value="option3">
                            <label class="form-check-label " for="inlineRadio3"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-3" id="inlineRadio3" value="option3">
                            <label class="form-check-label" for="inlineRadio3"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td colspan="1">I had trouble sleeping - I could not fall or stay asleep, and/or didn't feel well-rested when I woke up. </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-4" id="inlineRadio4" value="option4">
                            <label class="form-check-label" for="inlineRadio4"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-4" id="inlineRadio4" value="option4">
                            <label class="form-check-label" for="inlineRadio4"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-4" id="inlineRadio4" value="option4">
                            <label class="form-check-label" for="inlineRadio4"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input p-2 " type="radio" name="inlineRadioOptions-4" id="inlineRadio4" value="option4">
                            <label class="form-check-label " for="inlineRadio4"></label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions-4" id="inlineRadio4" value="option4">
                            <label class="form-check-label" for="inlineRadio4"></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-outline-primary mt-lg-3"><i class="fa-solid fa-hand-point-left"></i>
            Previous Questions</button>
        <button type="button" class="btn btn-outline-secondary mt-lg-3">Skip</button>

        <button type="button" class="btn btn-outline-primary mt-lg-3 px-3">Next Questions <i class="fa-solid fa-hand-point-right"></i>
        </button>


    </div>

</div>