<div class="container py-1 mt-lg-3 bg-body-secondary pb-lg-3 " style="  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
;
">
    <h1 class="text-capitalize d-flex justify-content-center">mental health assessment</h1>
    <p class="mt-3 lh-lg ">Are you thinking about seeking the help of a therapist? If certain issues have been causing problems in your life and you aren't sure how to make the necessary changes, therapy can help. With the help of a professional, you can get out of an unhealthy
        cognitive, emotional, and behavioral pattern. Fill out the following questionnaire truthfully, paying special attention to the specified time period to which the questions refer. The results will only be helpful if you answer in an honest and
        complete manner. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus fugiat quisquam, in cum eligendi sunt, vitae velit tempora, totam ea animi. Eum itaque, tempora pariatur impedit, facere esse laudantium, est fuga quia at officia
        deserunt numquam voluptas totam quo sint aperiam nihil ipsa eos excepturi tempore. Officiis accusamus nobis, nesciunt distinctio cum laboriosam fuga necessitatibus sunt. Illum beatae id est animi error amet, dolorum dolores earum expedita omnis!
        Obcaecati debitis voluptas quae quos consequuntur, adipisci vel, reprehenderit ipsum dolor dicta praesentium. Quidem ab sapiente eos iste cupiditate maxime aspernatur nihil optio. Autem id rem neque! Voluptatum soluta doloribus obcaecati corporis?Lorem,
        ipsum dolor sit amet consectetur adipisicing elit. Esse alias commodi repellendus accusantium perspiciatis saepe voluptatum, in sapiente exercitationem numquam accusamus libero expedita temporibus magni, ex distinctio. Vitae deleniti exercitationem
        sunt? Ullam voluptates fuga corporis vel quidem recusandae quam ducimus at similique alias error dolorum sed est facere commodi suscipit consequatur illum, culpa quia quisquam ea minus? Quidem, quod itaque. Aperiam minus maiores eius fugit beatae
        doloribus corporis qui vitae rerum ipsa sed, perspiciatis aliquid voluptatem recusandae ducimus odit excepturi, perferendis rem laboriosam reiciendis delectus vero. Cumque consequatur nulla placeat eos quaerat, dicta error architecto voluptates
        alias soluta cum, incidunt laboriosam.</p>
    <div class=" col-md-4 my-3">
        <label for="">Enter your name:</label>
        <input #name type="text" class="form-control">
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary btn-lg " style="width:200px;" routerLink="/question" (click)="startQuiz()">Take the tests👍</button>
    </div>
</div>